@media(max-width: 991px) {
    .s-m-t-xs {
        padding-top: 15px;
    }

    .s-m-t-s {
        padding-top: 30px;
    }

    .s-m-t-m {
        padding-top: 60px;
    }

    .s-m-t-l {
        padding-top: 90px;
    }

    .s-m-t-xl {
        padding-top: 120px;
    }

    .s-m-t-2xl {
        padding-top: 150px;
    }

    .s-m-t-3xl {
        padding-top: 210px;
    }

    .s-m-t-4xl {
        padding-top: 240px;
    }

    .s-m-t-5xl {
        padding-top: 270px;
    }

    .s-m-t-6xl {
        padding-top: 300px;
    }

    .s-m-b-xs {
        padding-bottom: 15px;
    }

    .s-m-b-s {
        padding-bottom: 30px;
    }

    .s-m-b-m {
        padding-bottom: 60px;
    }
    
    .s-m-b-l {
        padding-bottom: 90px;
    }

    .s-m-b-xl {
        padding-bottom: 120px;
    }

    .s-m-b-2xl {
        padding-bottom: 150px;
    }

    .s-m-b-3xl {
        padding-bottom: 210px;
    }

    .s-m-b-4xl {
        padding-bottom: 240px;
    }

    .s-m-b-5xl {
        padding-bottom: 270px;
    }

    .s-m-b-6xl {
        padding-bottom: 300px;
    }
}

@media(min-width: 992px) {
    .s-d-t-xs {
        padding-top: 15px;
    }

    .s-d-t-s {
        padding-top: 30px;
    }

    .s-d-t-m {
        padding-top: 60px;
    }

    .s-d-t-l {
        padding-top: 90px;
    }

    .s-d-t-xl {
        padding-top: 120px;
    }

    .s-d-t-2xl {
        padding-top: 150px;
    }

    .s-d-t-3xl {
        padding-top: 210px;
    }

    .s-d-t-4xl {
        padding-top: 240px;
    }

    .s-d-t-5xl {
        padding-top: 270px;
    }

    .s-d-t-6xl {
        padding-top: 300px;
    }

    .s-d-b-xs {
        padding-bottom: 15px;
    }

    .s-d-b-s {
        padding-bottom: 30px;
    }

    .s-d-b-m {
        padding-bottom: 60px;
    }

    .s-d-b-l {
        padding-bottom: 90px;
    }

    .s-d-b-xl {
        padding-bottom: 120px;
    }

    .s-d-b-2xl {
        padding-bottom: 150px;
    }

    .s-d-b-3xl {
        padding-bottom: 210px;
    }

    .s-d-b-4xl {
        padding-bottom: 240px;
    }

    .s-d-b-5xl {
        padding-bottom: 270px;
    }

    .s-d-b-6xl {
        padding-bottom: 300px;
    }
}